@{ 
    var ProductModels = (List<ProductModel>)ViewData["ProductModels"];
    int counter = 1;
    Layout = "_Layout" ;

    <h2 style="align-content;"> Products</h2>
    <table class="table table-hover" align="center" style="background-color:@ViewData["Color"]">
         <thead>
            <tr>
                <th scope="col">BOOK's ID</th>
                <th scope="col">BOOK'S NAME</th>
                <th scope="col">BOOK'S PRICE</th>
                <th scope="col">BOOK'S IMAGE</th>
            </tr>
        </thead>
        
        <tbody>
            
            @foreach (var item in ProductModels)
            {       <tr>
                        <td scope="row"> @item.id</td>
                        <td> @item.name</td>
                        <td> @item.price</td>
                        <td> <img  src="@item.Image"  width="150" hight="200px" alt="Product Image"/></td>
                        <td><button type="button" class="btn btn-info"> <a href="/Products/details/@item.id"> Show </a></button></td>
                    </tr>
                 }
       </tbody>

        </table>
    }



